.pages {
  margin-left: 16rem;
}
.cardBody {
  margin-top: 6rem;
}
.card {
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  border: none;
}
.goBack {
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 1rem;
}
