.pages {
  margin-left: 16rem;
}

.table-responsive {
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 1rem;
}

.addRole {
  box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 1rem;
}
.icon {
  margin: 10px;
  // position: relative;
  display: inline-block;
  color: black;
  // width: 2rem;
  // height: 2rem;
  // border-radius: 50%;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  // transition: all 0.3s ease;
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 30px;
}

.icon {
  background-color: #fff;
}
.tableList {
  border-radius: 1rem;
}
.editIcon {
  padding: 0.5rem;
}
button {
  border-radius: 1rem !important;
}
