<!---filter fields strat-->
<br /><br /><br />
<div fxLayout="row">
  <div fxFlex="0"></div>
  <div fxFlex="100">
    <mat-card>
      <mat-card-title>
        {{
          data.content
            ? data.content + " " + data.id
            : "Are you sure you want to delete?"
        }}
      </mat-card-title>
      <mat-card-content>
        <!-- button wrapper --><br /><br />
        <div
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="20px"
          fxFlexFill
          class="d-flex justify-content-end"
        >
          <div
            class="icon"
            mat-dialog-close
            [mat-dialog-close]="data.id"
            cdkFocusInitial
          >
            <i class="material-icons">delete</i>
            <i class="material-icons">delete</i>
          </div>
          <div class="icon" mat-dialog-close>
            <i class="material-icons">close</i>
            <i class="material-icons">close</i>
          </div>
          <!-- <button
            matTooltip="Delete"
            mat-mini-fab
            mat-dialog-close
            [mat-dialog-close]="data.id"
            cdkFocusInitial
            type="button"
          >
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >delete</mat-icon
            >
          </button> -->
          <!-- &nbsp;&nbsp;
          <button matTooltip="Back" mat-dialog-close mat-mini-fab>
            <mat-icon aria-hidden="false" aria-label="Example home icon"
              >clear</mat-icon
            >
          </button> -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
